@import "./assets/styles/_variables.scss";
@import "./assets/styles/_typography.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin: 20px 26px;
  }

  .introduction{
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    //padding: 27px;

    h3{
      color: $secondary-color;
    }

    .input-box{
      display: flex;
      justify-content: center;
      padding: 10px;
      width: 80vw;
      background-color: $teitary-color;
      border: 2px dashed $secondary-color;
      border-radius: 7px;
      .input-box__text{
        background-color: $teitary-color;
        width: 65vw;
        //border: none;
      }
      .input-box__text::placeholder{
        color: $secondary-color;
        font-family: $font-family;
      }
      .input-box__submitBtn{
        margin-left: 5px;
        border-radius: 50%;
        height: 21px;
        width: 21px;
        border: none;
      }
    }

  }
  .task{
    h3{
      color: $secondary-color;
      margin-top: 21px;
    }
  }
}