body {
  font-family: "Jost", sans-serif;
  background-color: #232229;
  color: #FFFFFF;
}

header {
  font-size: 24px;
  font-weight: 500;
}

button {
  background-image: linear-gradient(180deg, #E1A0A0, #E58181);
  box-shadow: 0 10px 40px #6B3838;
  padding: 10px;
}

button:hover {
  background-image: linear-gradient(180deg, #E2C1C1, #EA8282);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}