body {
  font-family: "Jost", sans-serif;
  background-color: #232229;
  color: #FFFFFF;
  margin: 0 28px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

h2, h3 {
  margin-bottom: 18px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

button {
  background-image: linear-gradient(180deg, #E1A0A0, #E58181);
  box-shadow: 0 10px 40px #6B3838;
  padding: 10px;
  border-radius: 7px;
  height: 50px;
  width: 120px;
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

button:hover {
  background-image: linear-gradient(180deg, #E2C1C1, #EA8282);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}
body .introduction {
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
body .introduction h3 {
  color: #6C6A7C;
}
body .introduction .input-box {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80vw;
  background-color: #2B2A33;
  border: 2px dashed #6C6A7C;
  border-radius: 7px;
  height: 60px;
  width: 375px;
}
body .introduction .input-box .input-box__text {
  background-color: #2B2A33;
  width: 65vw;
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
}
body .introduction .input-box .input-box__text::placeholder {
  color: #6C6A7C;
  font-family: "Jost", sans-serif;
}
body .introduction .input-box .input-box__submitBtn {
  margin-left: 5px;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  border: none;
}
body .task {
  margin-top: 50px;
}
body .task h3 {
  color: #6C6A7C;
  margin-top: 21px;
}